<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>日报系统</title>
    <link rel="stylesheet" href="./vendor/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="./css/main.css">
</head>
<body>
<div ng-app="app" class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#/">日报管理系统</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul ng-controller="tab" class="nav navbar-nav">
                    <li class="{{checkActive('my')}}"><a href="#/my">我的日报</a></li>
                    <li class="{{checkActive('group')}}"><a href="#/group/report">小组管理</a></li>
                    <li class="{{checkActive('account')}}"><a href="#/account">账号管理</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div ui-view></div>
    <script type="text/ng-template" id="accounts">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">用户列表</div>

            <!-- Table -->
            <table class="table table-hover">
                <thead>
                <th>#</th>
                <th>用户名</th>
                <th>姓名</th>
                <th>组长</th>
                <th>操作</th>
                </thead>
                <tbody>
                    <tr ng-repeat="u in users">
                        <td>{{$index+1}}</td>
                        <td>{{u.username}}</td>
                        <td>{{u.name}}</td>
                        <td><input ng-change="updateRole(u)" ng-model="u.role" ng-true-value="'leader'" ng-false-value="'normal'" type="checkbox"/></td>
                        <td>
                            <button ng-click="delete(u)" type="button" class="btn btn-warning btn-xs">删除</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </script>
    <script type="text/ng-template" id="group">
        <ul ng-controller="tab" class="group-nav nav nav-tabs" role="tablist">
            <li class="{{checkActive('group/report')}}"><a href="#/group/report">小组日报</a></li>
            <li class="{{checkActive('group/info')}}"><a href="#/group/info">信息管理</a></li>
        </ul>
        <div ui-view></div>
    </script>
    <script type="text/ng-template" id="group-report">
        <h3>小组日报</h3>
    </script>
    <script type="text/ng-template" id="group-info">
        <form class="group-info-form form-inline">
            <div class="form-group">
                <label for="exampleInputName2">组名</label>
                <input ng-model="group.name" type="text" class="form-control" id="exampleInputName2" placeholder="组名">
            </div>
            <button ng-click="save()" type="submit" class="btn btn-default">保存</button>
        </form>
        <div class="group-panel panel panel-default">
            <div class="panel-heading">小组成员<button ng-click="add()" type="button" class="btn btn-default btn-xs">新增</button></div>
            <div class="panel-body">
                <table class="table table-hover">
                    <thead>
                    <th>#</th>
                    <th>姓名</th>
                    <th>操作</th>
                    </thead>
                    <tbody>
                    <tr ng-repeat="u in group.members">
                        <td>{{$index+1}}</td>
                        <td>{{u.name}}</td>
                        <td><button ng-click="delete(u)" type="button" class="btn btn-warning btn-xs">删除</button></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </script>
    <script type="text/ng-template" id="add-member">
        <div class="modal-header">
            <h3 class="modal-title">新增组员</h3>
        </div>
        <div class="modal-body">
            <form>
                <div class="input-group">
                    <input ng-model="keyword" type="text" class="form-control" placeholder="搜索">
                    <span class="input-group-btn">
                        <button ng-click="search()" class="btn btn-default" type="button">Go!</button>
                    </span>
                </div>
                <div ng-repeat="u in users" class="radio">
                    <label>
                        <input ng-model="$parent.selected" ng-value="u" type="radio" name="optionsRadios">
                        {{u.name}}
                    </label>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">确定</button>
            <button class="btn btn-warning" ng-click="cancel()">取消</button>
        </div>
    </script>
    <script type="text/ng-template" id="add-report">
        <div class="modal-header">
            <h3 class="modal-title">新增日报</h3>
        </div>
        <div class="modal-body edit-report">
            <div ng-controller="TimeDropdown" class="btn-group" dropdown on-toggle="timeToggled(selected)" is-open="status.isopen">
                <button type="button" class="btn btn-default btn-xs dropdown-toggle" dropdown-toggle>
                    {{selected.text}} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li ng-repeat="choice in items" ng-click="select(choice)">
                        <a href>{{choice.text}}</a>
                    </li>
                </ul>
            </div>
            <table class="table table-bordered">
                <thead>
                    <th width="20">#</th>
                    <th>内容</th>
                    <th>时长(H)</th>
                    <th width="60">操作</th>
                </thead>
                <tbody>
                <tr ng-repeat="t in report.tasks">
                    <td>{{$index+1}}</td>
                    <td>{{t.content}}</td>
                    <td>{{t.time}}</td>
                    <td>
                        <button ng-click="delete($index)" type="button" class="btn btn-warning btn-xs">删除</button>
                    </td>
                </tr>
                <tr>
                    <td>{{report.tasks.length+1}}</td>
                    <td>
                        <div class="input-group input-group-sm input-content">
                            <input ng-model="content" type="text" class="form-control" placeholder="工作内容">
                        </div>
                    </td>
                    <td>
                        <div class="input-group input-group-sm input-time">
                            <input ng-model="time" type="text" class="form-control" placeholder="时长">
                        </div>
                    </td>
                    <td>
                        <button ng-click="add()" type="button" class="btn btn-default btn-xs">添加</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">确定</button>
            <button class="btn btn-warning" ng-click="cancel()">取消</button>
        </div>
    </script>
    <script type="text/ng-template" id="my">
        <div class="panel panel-default panel-report">
            <!-- Default panel contents -->
            <div class="panel-heading">日报列表<button ng-click="add()" type="button" class="btn btn-default btn-xs">写日报</button></div>

            <!-- Table -->
            <table class="table table-hover">
                <thead>
                <th>#</th>
                <th>日期</th>
                <th>内容</th>
                <th>操作</th>
                </thead>
                <tbody>
                <tr ng-repeat="r in reports">
                    <td>{{$index+1}}</td>
                    <td>{{r.time|date:'yyyy-MM-dd'}}</td>
                    <td>
                        <ol>
                            <li ng-repeat="t in r.tasks">{{t.content}} ({{t.time}}h)</li>
                        </ol>
                    </td>
                    <td>
                        <button ng-click="send(r)" type="button" class="btn btn-primary btn-xs">发送</button>
                        <button ng-click="edit(r)" type="button" class="btn btn-default btn-xs">编辑</button>
                        <button ng-click="delete($index)" type="button" class="btn btn-warning btn-xs">删除</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </script>
</div>
<script src="vendor/jquery/jquery.js"></script>
<script src="vendor/angular/angular.js"></script>
<script src="vendor/angular-ui-router/angular-ui-router.js"></script>
<script src="vendor/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="js/app.js"></script>
</body>
</html>