<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" href="./vendor/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="./css/login.css">
</head>
<body>
    <div ng-app="login" class="container">
        <ul class="nav nav-tabs" ng-controller="tab">
            <li role="presentation" class="{{tabClass('/login')}}"><a href="#/login">登录</a></li>
            <li role="presentation" class="{{tabClass('/register')}}"><a href="#/register">注册</a></li>
        </ul>
        <div class="panel panel-default">
            <div ng-view class="panel-body">

            </div>
        </div>
        <script type="text/ng-template" id="login">
            <form name="form" class="form-signin">
                <input name="username" ng-model="data.username" ng-model-options="{ updateOn: 'blur' }" required type="email" class="form-control" placeholder="邮箱">
                <span ng-show="(form.$dirty||form.username.$dirty)&&form.username.$error.required">请输入邮箱</span>
                <span ng-show="form.username.$dirty&&form.username.$error.email">邮箱格式不正确</span>
                <input ng-model-options="{ updateOn: 'blur' }" required name="password" ng-model="data.password" minlength="6" type="password" class="form-control" placeholder="密码">
                <span ng-show="(form.$dirty||form.password.$dirty)&&form.password.$error.required">请输入密码</span>
                <div class="checkbox">
                    <label>
                        <input name="remember" ng-model="data.remember" ng-true-value="true" ng-false-value="false" type="checkbox" value="true">记住我
                    </label>
                </div>
                <input ng-click="submit()" type="button" class="btn btn-lg btn-primary btn-block" value="登录">
            </form>
        </script>
        <script type="text/ng-template" id="register">
            <form name="form" class="form-signin" ng-submit="submit()">
                <input ng-model-options="{ updateOn: 'blur' }" ng-model="data.username" required email class="form-control" placeholder="邮箱">
                <span name="username" ng-show="form.username.$error.required">请输入邮箱</span>
                <span ng-show="form.username.$error.email">邮箱格式不正确</span>
                <input ng-model-options="{ updateOn: 'blur' }" name="password" ng-model="data.password" type="password" class="form-control" placeholder="密码">
                <span ng-show="form.password.$error.required">请输入密码</span>
                <input name="name" ng-model="data.name" type="text" class="form-control" placeholder="姓名" required="">
                <input ng-click="submit()" type="button" class="btn btn-lg btn-primary btn-block" value="注册">
            </form>
        </script>
    </div>
<script src="vendor/jquery/jquery.js"></script>
<script src="vendor/angular/angular.js"></script>
<script src="vendor/angular-route/angular-route.js"></script>
<script src="js/login.js"></script>
</body>
</html>