.error-text{color:#a94442;}
.loading{width:100px;margin:20px auto;}
.loading i{float:left;width:16px;height:16px;margin:2px 5px 0;background:url(../img/loading.gif);}
.container-login{width:350px;margin-top: 50px;}

.panel-login{margin-top:-1px;border-radius:0 5px 5px 5px;}

.form-signin {max-width: 330px;padding: 15px;margin: 0 auto;}
.form-signin .form-signin-heading, .form-signin .checkbox {margin-bottom: 10px;}
.form-signin .checkbox {font-weight: normal;}
.form-signin .form-control {position: relative;height: auto;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 10px;font-size: 16px;}
.form-signin .form-control{margin:5px 0;}

.group-info-form{margin-top:20px;}

.group-panel{margin-top:20px;}
.panel-report .panel-heading .btn,.group-panel .panel-heading .btn{margin-left:10px;}

.edit-report .input-content{width:350px;}
.edit-report .input-time{width:60px;}
.edit-report .form-control{height:24px;}
.edit-report .btn-group{margin-bottom:10px;}
.edit-report .day{margin-bottom:10px;}

.list-empty, .list-error{margin:20px 0;text-align:center;color:#666;font-size:16px;}
.page-box{text-align:center;}

.add-report{margin-bottom:10px;}
.task-time{color:#888;}

.table-group-report{margin-top:20px;}