<div class="add-report"><button ng-click="add()" type="button" class="btn btn-primary btn-sm">写日报</button></div>
<list-box name="listBox" on-page-change="pageChange" limit="15">
    <table class="table table-bordered table-hover">
        <thead>
        <th width="40">#</th>
        <th width="150">日期</th>
        <th>内容</th>
        <th width="150">操作</th>
        </thead>
        <tbody>
        <tr ng-repeat="r in reports">
            <td>{{$index+1}}</td>
            <td>{{r.time|date:'yyyy-MM-dd'}}</td>
            <td>
                <ol>
                    <li ng-repeat="t in r.tasks">{{t.content}} <span class="task-time">({{t.time}}h)</span></li>
                </ol>
            </td>
            <td>
                <span ng-hide="r.groupId">
                    <button ng-click="send(r)" type="button" class="btn btn-primary btn-xs">发送</button>
                    <button ng-click="edit(r)" type="button" class="btn btn-default btn-xs">编辑</button>
                    <button ng-click="delete($index)" type="button" class="btn btn-danger btn-xs">删除</button>
                </span>
                <span ng-show="r.groupId">已发送</span>
            </td>
        </tr>
        </tbody>
    </table>
</list-box>